@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* Center the calculator on the page */
.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* 100% of viewport height */
}

.input-container {
  justify-content: center;
  input {
    font-size: 1.5rem; /* Increase font size */
    padding: 10px; /* Increase padding for spacing */
    width: 90%; /* Make the input 100% wide */
    text-align: right;
  }
}

/* Calculator container */
.calculator {
  max-width: 300px; /* Limit the calculator width for smaller screens */
  width: 100%; /* Full width on small screens */
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Display area */
.display {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 10px;
}

/* Button row */
.button-row {
  display: flex;
  flex-wrap: wrap; /* Wrap buttons to the next line on small screens */
  justify-content: space-between; /* Spread buttons evenly */
  margin: 5px 0; /* Add vertical spacing between rows */
}

/* Calculator buttons */
.button {
  flex: 1;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ddd;
  }

  &.operator {
    background-color: #ff9800;
    color: #fff;
  }

  &.operator:hover {
    background-color: #f57c00;
  }

  &.equals {
    background-color: #2196f3;
    color: #fff;
  }

  &.equals:hover {
    background-color: #1e88e5;
  }

  &.clear {
    background-color: #f44336;
    color: #fff;
  }

  &.clear:hover {
    background-color: #e53935;
  }
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
}

.dark-mode .calculator {
  background-color: #444; /* Dark background color for calculator */
  border: 1px solid #666; /* Dark border color */
}

.dark-mode .button {
  background-color: #666; /* Dark button background color */
  border: 1px solid #444; /* Dark button border color */
  //   color: white;
}

.toggle-container {
  position: relative;
  mat-slide-toggle {
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    margin: 2px 0;
  }
}
