$background-light: #f0f0f0;
$border-color: #ccc;
$button-background: #666;
$button-border: #444;
$text-light: #fff;
$text-dark: #000;

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input-container {
  input {
    font-size: 1.5rem;
    padding: 10px;
    width: 90%;
    text-align: right;
  }
}

.calculator {
  max-width: 300px;
  width: 100%;
  padding: 20px;
  background-color: $background-light;
  border: 1px solid $border-color;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display {
  background-color: $background-light;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0;
}

.button {
  flex: 1;
  padding: 0.625rem;
  margin: 5px;
  border: 1px solid $border-color;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ddd;
  }

  &.operator {
    background-color: #ff9800;
    color: $text-light;
  }

  &.operator:hover {
    background-color: #f57c00;
  }

  &.equals {
    background-color: #2196f3;
    color: $text-light;
  }

  &.equals:hover {
    background-color: #1e88e5;
  }

  &.clear {
    background-color: #f44336;
    color: $text-light;
  }

  &.clear:hover {
    background-color: #e53935;
  }
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #333;
  color: $text-light;
  .calculator {
    background-color: #444;
    border: 1px solid #666;
  }

  .button {
    background-color: #666;
    border: 1px solid #444;
  }
}

/* Toggle container styles */
.toggle-container {
  position: relative;

  mat-slide-toggle {
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    margin: 2px 0;
  }
}
